:root {
  /* Color */
  --primary: #0075ff;
  --secondary: #ffffff;
  --tertiary: #f5f5f5;
  --accent: #276ef1;
  --negative: #e11900;
  --warning: #ffc043;
  --positive: #048848;

  --contentPrimary: #000000;
  --contentSecondary: #6b6b6b;
  --contentTertiary: #a6a6a6;

  --borderTransparent: #898989;
  --borderOpaque: #898989;
  --positiveTransparent: #39dd00;
  --negativeTransparent: #ff0000;

  /* font */
  --base-font-family: 'Pretendard Variable', sans-serif;
}
